<h1> Index </h1>

<span>
  <% @channels.each do |channel| %>
      <%= link_to channel.name, controller: "products", channel: channel.id %>
  <% end %>
</span>

<ul>
	<% @products.each do |product| %>
      <strong> <%= product.name %> </strong>
      <li>
    		Price: <%= product.variants.order(price: :desc).last.price %>
      </li>
      <li>
        Quantity: <%= product.variants.order(price: :desc).last.quantity %>
    	</li>
      <br>
  <% end %>
</ul>
